body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#ecf0f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(95, 89, 89);
}

.userRow{
  margin: auto;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.userRow :hover{
background-color: #fefefebb;
}

.section{
  display: block;
  width:12.3%; 
}

hr{
  background-color: rgb(148, 138, 138);
  margin: auto;
  width: 95%;
}

.head{
  background-color:#F7CE3E;
  height: 3vw;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #000000d8;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  color: antiquewhite;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.update-button{
  background-color:  rgb(235, 180, 41);
  cursor: pointer;
  height: 3%;
  width: 20vw;
  border-radius: 5px;
  text-align: center;
  color: #000;
}
.update-button :hover{
  background-color:  rgb(172, 134, 41);
}

.input{
  -webkit-appearance: none;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #C8CCD4;
    background: none;
    border-radius: 0;
    color:rgb(216, 158, 0);
    transition: all .15s ease;
}

.all-input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.confirm-yellow{
  color: rgb(235, 184, 56);
  cursor: pointer;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


.badges{
  margin: auto;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#icon{
  background-color:#2ecc71;
  width: auto;
  height:100px;
  border-radius: 50%;
  box-shadow: 5px 10px 8px 10px #888888;
}

#icon div:hover{
  transform: rotate(20deg);
}

.container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 30%;
  height: 30%;
}

#charts{
  height: 80vh;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ; */
  grid-template-areas: 
  "c1 c2"
  "c3 c4";
  grid-gap: 20px;
}

.TopEmployeesChart{
  grid-area: c1;
}

.SalesByChart{
  grid-area: c2;
}

.SalesSinceChart{
  grid-area: c3;
}

.FirstContactPieChart{
  grid-area: c4;
}

.badge{
  display: flex;
  flex-direction: row;
}

.icon{
  border-radius: 50%;
  font-size: 70px;
  height: 70px;
  padding: 20px;
  color: white;
  margin: auto;
  margin-right: 10px;
  box-shadow: 3px 3px 5px #aaaaaa;
}

.recharts-responsive-container{
  min-height:200px;
}

.chart{background-color: #2ecc71;}

.envelope{background-color: #3498db;}

.user-circle{background-color: #e74c3c;}

.globe-americas{background-color: #f1c40f;}

#home{ 
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
size: 500px
}